@import "tailwindcss";

@font-face {
  font-family: "RubikMaps-Regular";
  src: url("/fonts/RubikMaps-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Audiowide-Regular";
  src: url("/fonts/Audiowide-Regular.ttf") format("truetype");
}

@theme {
  --font-rubik: "RubikMaps-Regular", sans-serif;
  --font-audiowide: "Audiowide-Regular", sans-serif;
}